---
const {url = "/", img="https://terraria.wiki.gg/images/thumb/c/cd/Frost_Legion_Battle.png/320px-Frost_Legion_Battle.png?a87b06", name="Untitled", desc="Description Unimplemented"} = Astro.props;
import "../styles/global.scss"
---

<a class="game" href={url}
    style=`background-image: url(${img});`
>  
    <div class="left">
        <div class="name">{name}</div>
        <div class="desc">{desc}</div>
    </div>    
    <!-- <div class="right">
        <img src={img} alt="">
    </div> -->

</a>

<style lang="text/scss">
    .game{       
        background-color: rgba(0,0,0,0.4);
        background-blend-mode: multiply;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        
        border: solid .2em white;
        height: 10vh;
        transition: height .1s ease, width .1s ease;
        border-radius: .5em;
        width: 80%;

        &:hover{
            height: 11em;
            width: 90%;

            img{
                width: 9em;
            }
 
            .left{
                .name{
                    font-size: 2.2em;
                }
                .desc{
                    font-size: 1.1em;
                }
            }
        }

        @media screen and (max-width:525px) {
            .left{
                
                align-items: center;

                .desc{
                    color: rgba(0,0,0,0);
                    height: 0px;
                } 
            }
                       
        }

        @media screen and (min-width:526px) {
            .left{
                padding-left: 1em;

                .desc{
                    color: #b0b0b0;
                }
            }
                        
        }

        // @media only screen and (max-width: 636px) {
        //     img{
        //         display: none;
        //     }
        // }

        // @media only screen and (max-width:1180px) {
        //     .desc{
        //         font-size: 10em;
        //     }
        // }

        // @media only screen and (min-width:1181px) {
        //     .desc{
        //         font-size: 1em;
        //     }
        // }

        img{
            transition: height .1s ease, width .1s ease;
            width: 5em;
            border-radius: .4em;
        }

        .left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);
      

            .name{
                transition: font-size .1s ease;
                font-size: 1.5em;
            }

            .desc{
                transition: font-size .1s ease;
                

            }
        }

        .right{
            display: flex;
            margin: 1em;
        }
    }
</style>