---
import Layout from "./Layout.astro";
import OSLink from "../components/OsLink.astro";

const {
    Heading,
    windows,
    mac,
    linux,
    release
} = Astro.props;
---

<Layout Page={Heading}>
    <div id="video">
        <slot />
        <div id="buttons">
        <a href="/#projects">
            <div id="back">
                <i class="fa-solid fa-arrow-left"></i>
                <button>Back</button>
            </div>
        </a>

        <OSLink
            windows={windows}
            mac={mac}
            linux={linux}
            text="<button>Download game</button>">
        </OSLink>
        

    </div>
    <p style="margin-top: 4vh; color: #787878">If the download button doesnt work, you can view the releases <a href={release}>here</a></p>
    </div>
</Layout>